.dark-mode {
	body {
		background-color: $black;
		color: $white;
	}

	header {
		background-color: $white;
		color: $black;
	}

	footer {
		background-color: #1F9C9A;
		color: $black;
	}

	iframe {
		border: 1px dashed $white;
	}

	a {
		color: $white;
	}

	hr {
		border: 1px solid $white;
	}

	button {
		background-color: $black;
		border: 1px solid $white;
		color: $white;
	}

	code {
		background-color: rgba($white, 0.1);
	}
}
