.dark-mode {
	body {
		background-color: #282624;
		color: $white;
	}

	header {
		background-color: $white;
		color: #282624;
	}

	footer {
		background-color: #1F9C9A;
		color: #282624;
	}

	iframe {
		border: 1px dashed $white;
	}

	a {
		color: $white;
	}

	hr {
		border: 1px solid $white;
	}

	button {
		background-color: $black;
		border: 1px solid $white;
		color: $white;
	}
}

@media (prefers-color-scheme: dark) {
	
}
