body {
	background-color: $white;
	color: $black;
}

header {
	background-color: $black;
	color: $white;
}

footer {
	background-color: #006D6D;
	color: $white;
}

iframe {
	border: 1px dashed $black;
}

a {
	color: $black;
}

hr {
	border: 1px solid $black;
}

button {
	background-color: $white;
	border: 1px solid $black;
	color: $black;
}

code {
	background-color: rgba($black, 0.1);
}
