body {
	background-color: $white;
	color: #282624;
}

header {
	background-color: #282624;
	color: $white;
}

footer {
	background-color: #006D6D;
	color: $white;
}

iframe {
	border: 1px dashed $black;
}

a {
	color: #282624;
}

hr {
	border: 1px solid $black;
}
