.sidebar {
  position: fixed;
  top: 0;
  padding: 130px 1em 1em 1em;
  width: 25vw;
  height: 100vh;
	font-size: smaller;
  overflow-y: scroll;

	h2, h3 {
    margin-top: 0;
		font-size: 1em;
		text-transform: uppercase;
	}

	ul, ol {
		list-style: none;
		padding-left: 0;

    li:first-child {

    }

		li a {
			display: block;
			padding: 0.25em 0;
			text-decoration: none;
		}
	}
}

.sidebar__icon {
	display: none;
}

.sidebar__menu {
  > li > a {
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
	.sidebar__menu {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.75s;
	}

	.sidebar__icon {
		display: block;
	}

	.sidebar__menu_is-active {
		max-height: 100%;
	}
}
