.sidebar {

	h2 {
		font-size: 1em;
		text-transform: uppercase;
	}

	ul, ol {
		list-style: none;
		padding-left: 0;

		li a {
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
		}

		ul li a {
			&:before {
				content: '— ';
			}
		}
	}
}

.sidebar__icon {
	display: none;
}

@media (max-width: 768px) {
	.sidebar__menu {
		display: none;
	}

	.sidebar__icon,
	.sidebar__menu_is-active {
		display: block;
	}
}
