.sidebar {

	h2 {
		font-size: 1em;
		text-transform: uppercase;
	}

	ul, ol {
		list-style: none;
		padding-left: 0;

		ul li a:before {
			content: '— ';
		}
	}

	a {
		display: block;
		padding: 0.75em 0;
		text-decoration: none;
	}
}

@media (max-width: 768px) {
	.sidebar {
		background: red;

		ul {
			display: none;
		}
	}
}
