<iframe title="Buttons components on Figma" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FNy8g5fNa6KfnzxV0Jt3PQN%2FButtons%3Fnode-id%3D0%253A1" allowfullscreen></iframe>

<p class="codepen" data-height="299" data-theme-id="0" data-default-tab="html" data-user="sophyo" data-slug-hash="oNNYPNE" style="height: 299px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; margin: 1em 0; padding: 1em;" data-pen-title="Buttons, links, &amp;amp; horizontal rules">
  <span>See the Pen <a href="https://codepen.io/sophyo/pen/oNNYPNE">
  Buttons, links, &amp; horizontal rules</a> by Sophy (<a href="https://codepen.io/sophyo">@sophyo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
