<!doctype html>
<html class="no-js" lang="">

<head>
	{% include head.html %}
</head>

<body>
	<!--[if IE]>
	<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<header>
		<div class="container">
			<h1>{{ site.title }}</h1>
		</div>
	</header>

	<main class="container">
		<div class="row">
			<nav class="sidebar">
				<h2>Table of contents</h2>


				<a href="#" class="sidebar__icon" id="sidebar__icon"><span data-feather="menu"></span></a>

				<ul class="sidebar__menu">
					<li><a href="{{ baseurl }}/index.html">Overview</a></li>
					<li>
						<a href="#">Building blocks</a>
						<ul>
							<li><a href="{{ baseurl }}/building-blocks/colours">Colours</a></li>
							<li><a href="{{ baseurl }}/building-blocks/typography">Typography</a></li>
							<li><a href="{{ baseurl }}/building-blocks/icons">Icons</a></li>
							<li><a href="{{ baseurl }}/building-blocks/layout">Layout</a></li>
						</ul>
					</li>
					<li>
						<a href="{{ baseurl }}/components/">Components</a>
						<ul>
							<li><a href="{{ baseurl }}/components/buttons">Buttons</a></li>
							<li><a href="{{ baseurl }}/components/tags">Tags</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<section class="content">
				<h1>{{ page.title }}</h1>
				{{ content }}
			</section>
		</div>

		<script src="https://unpkg.com/feather-icons"></script>
		<script>
			feather.replace()
		</script>

		<script>
		// for IE10, .getElementsByClassName()[0];
		var toggle = document.querySelector(".sidebar__icon");
		var nav = document.querySelector(".sidebar__menu");

		// Listen for click event on toggle var
		toggle.addEventListener('click', function() {
			// toggle class "active" on topNav var
			nav.classList.toggle("sidebar__menu_is-active");
		}, false);
		</script>
	</main>
</body>

</html>
