<!doctype html>
<html class="no-js" lang="en">

<head>
	{% include head.html %}
</head>

<body>
	<!--[if IE]>
	<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<header class="header">
		<div class="container header__container">
      <div class="header__logo-wrapper">
			  <a href="{{ baseurl }}/" title="Return to home page">{% include logotype.svg %}</a>
				<h1 class="header__title">{{ site.html_title }}</h1>
      </div>

        <a href="#" id="darkLightToggler" title="Toggle between dark mode and light mode"><span data-feather="moon"></span></a>
		</div>
	</header>

	<main>
    <nav class="sidebar">
      <h2>Table of contents</h2>

      <a href="#" class="sidebar__icon" id="sidebar__icon" aria-label="Click to open menu">
        <span data-feather="menu"></span>
      </a>

      <ul class="sidebar__menu">
        <li><a href="{{ baseurl }}/index">Overview</a></li>
      </ul>
      <ul>
        <li>
          <h3>Building blocks</h3>
          <ul>
            <li><a href="{{ baseurl }}/building-blocks/logotype">Logotype</a></li>
            <li><a href="{{ baseurl }}/building-blocks/colours">Colours</a></li>
            <li><a href="{{ baseurl }}/building-blocks/typography">Typography</a></li>
            <li><a href="{{ baseurl }}/building-blocks/icons">Icons</a></li>
            <li><a href="{{ baseurl }}/building-blocks/layout">Layout</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <h3>Components</h3>
          <ul>
            <li><a href="{{ baseurl }}/components/alerts">Alerts</a></li>
            <li><a href="{{ baseurl }}/components/back-to-top">Back to top</a></li>
            <li><a href="{{ baseurl }}/components/buttons">Buttons</a></li>
            <li><a href="{{ baseurl }}/components/cards">Cards</a></li>
            <li><a href="{{ baseurl }}/components/checkboxes">Checkboxes</a></li>
            <li><a href="{{ baseurl }}/components/dropdowns">Dropdowns</a></li>
            <li><a href="{{ baseurl }}/components/filters">Filters</a></li>
            <li><a href="{{ baseurl }}/components/forms">Forms</a></li>
            <li><a href="{{ baseurl }}/components/hero">Hero sections</a></li>
            <li><a href="{{ baseurl }}/components/input-groups">Input groups</a></li>
            <li><a href="{{ baseurl }}/components/labels">Labels</a></li>
            <li><a href="{{ baseurl }}/components/loading">Loading</a></li>
            <li><a href="{{ baseurl }}/components/modals">Modals</a></li>
            <li><a href="{{ baseurl }}/components/numbered-tables">Numbered tables</a></li>
            <li><a href="{{ baseurl }}/components/pager-buttons">Pager buttons</a></li>
            <li><a href="{{ baseurl }}/components/pagination">Pagination</a></li>
            <li><a href="{{ baseurl }}/components/portraits">Portraits</a></li>
            <li><a href="{{ baseurl }}/components/removable-fields">Removable fields</a></li>
            <li><a href="{{ baseurl }}/components/search-results">Search results</a></li>
            <li><a href="{{ baseurl }}/components/stats">Stats</a></li>
            <li><a href="{{ baseurl }}/components/tabular-lists">Tabular lists</a></li>
            <li><a href="{{ baseurl }}/components/tags">Tags</a></li>
            <li><a href="{{ baseurl }}/components/title-lists">Title lists</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <h3>Content writing</h3>
          <ul>
            <li><a href="{{ baseurl }}/content-writing/general-principles">General principles</a></li>
            <li><a href="{{ baseurl }}/content-writing/grammar-syntax-typography">Grammar, syntax, & typography rules</a></li>
            <li><a href="#">Structured content</a></li>
            <li><a href="#">Inclusive language</a></li>
            <li><a href="#">Writing for forms</a></li>
            <li><a href="#">Writing technical documentation</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <section class="content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </section>

		<script src="https://unpkg.com/feather-icons"></script>

		<script>
		// Use Feather icons
		feather.replace()

		// Responsive menu
		var openMenu = document.querySelector(".sidebar__icon");
		var nav = document.querySelector(".sidebar__menu");

		openMenu.addEventListener('click', function() {
			nav.classList.toggle("sidebar__menu_is-active");
		}, false);

		// Dark-light mode toggler
		;(function (window, document, undefined) {

			'use strict';

			if (!('localStorage' in window)) return;

			var darkMode = document.querySelector('#darkLightToggler');
			if (!darkMode) return;

			darkMode.addEventListener('click', function (event) {
				event.preventDefault();
				document.documentElement.classList.toggle('dark-mode');
				if ( document.documentElement.classList.contains('dark-mode') ) {
					localStorage.setItem('darkMode', true);
					return;
				}
				localStorage.removeItem('darkMode');
			}, false);

		})(window, document);

		</script>
	</main>
</body>

</html>
